#!/bin/sh

if ! command -v ansible-playbook &> /dev/null; then
    printf 'ansible-playbook is required but not found\n' >&2
    exit 1
fi

# Use the absolute path to the source directory
# to avoid issues with symlinks or relative paths
SRC_DIR=$(realpath --logical "${CHEZMOI_SOURCE_DIR:-$PWD}")

if [ ! -f "$SRC_DIR/dot_bootstrap/setup.yml" ]; then
    printf 'Cannot find dot_bootstrap/setup.yml\n' >&2
    exit 1
fi

if ! ansible-playbook "$SRC_DIR/dot_bootstrap/setup.yml" --ask-become-pass; then
    printf 'ansible-playbook failed\n' >&2
    exit 1
fi


